In [3]:
import pandas as pd 
from sqlalchemy import create_engine
import os
from dotenv import load_dotenv

load_dotenv()
caminho = os.getenv("CSV_PATH_02")
df = pd.read_csv(caminho, delimiter=';', encoding= "latin1")

In [4]:
df_estados = df[["ï»¿Regiao - Sigla", "Estado - Sigla"]].drop_duplicates().reset_index(drop=True)

colunas_estados_tratadas = {
    "ï»¿Regiao - Sigla" : "Regiao_sigla",
    "Estado - Sigla" : "Estado_sigla"
}

df_estados.rename(columns=colunas_estados_tratadas, inplace=True)
df_estados['Id'] = df_estados.index +1
df_estados = df_estados[['Id', "Regiao_sigla", "Estado_sigla"]]
df_estados.head()

   Id Regiao_sigla Estado_sigla
0   1           NE           AL
1   2            N           AP
2   3           NE           BA
3   4           NE           CE
4   5           CO           DF

In [5]:
df_municipio = df[["Municipio", "Estado - Sigla"]].drop_duplicates()
df_municipio['Municipio'] = df_municipio['Municipio'].str.title()
df_municipio['Municipio'] = df_municipio['Municipio'].str.strip() 
colunas_municipios_tratadas = {"Estado - Sigla" : "Estado_sigla"}
df_municipio.rename(columns=colunas_municipios_tratadas, inplace=True,)
df_municipio['Id'] = df_municipio.index +1
df_municipio = df_municipio[["Id", "Municipio" ,"Estado_sigla"]]
df_municipio.head()

   Id        Municipio Estado_sigla
0   1  Delmiro Gouveia           AL
1   2           Macapa           AP
2   3            Ipira           BA
3   4        Itamaraju           BA
5   6              Ico           CE

In [6]:
df_revendas = df[["Revenda", "CNPJ da Revenda", "Bandeira", "Municipio"]].drop_duplicates()
colunas_revendas_tratadas = {"CNPJ da Revenda" : "CNPJ"}
df_revendas.rename(columns=colunas_revendas_tratadas, inplace= True)
df_revendas['Revenda'] = df_revendas['Revenda'].str.title()
df_revendas['CNPJ'] = df_revendas['CNPJ'].astype(int)
df_revendas['Bandeira'] = df_revendas['Bandeira'].str.title()
df_revendas['Municipio'] = df_revendas['Municipio'].str.title()
df_revendas['Id'] = df_revendas.index +1
df_revendas = df_revendas[["Id", "Revenda", "CNPJ", "Bandeira", "Municipio"]]
df_revendas.to_string()
df_revendas.head()

,Id,Revenda,CNPJ,Bandeira,Municipio
0,1,Comercio De Combustiveis Nenzita Ltda,4431113000100,Branca,Delmiro Gouveia
1,2,Sepe Tiaraju Empreendimentos Ltda,5297501000286,Branca,Macapa
2,3,Auto Posto Augustu'S Ltda,2448248000145,Ale,Ipira
3,4,Codepel -Comercio De Derivados De Petroleo Ltda,5696709000197,Branca,Itamaraju
4,5,Bentivi Derivados De Petroleo Ltda,13683818000106,Ipiranga,Itamaraju

In [7]:
df_precos = df[["Revenda", "Produto", "Data da Coleta", "Valor de Venda", "Valor de Compra"]].drop_duplicates()
colunas_precos_tratadas = {
    "Data da Coleta" : "Data_coleta",
    "Valor de Venda" : "Valor_venda",
    "Valor de Compra" : "Valor_compra"
}
df_precos.rename(columns=colunas_precos_tratadas, inplace=True)
df_precos['Id'] = df_precos.index +1
df_precos = df_precos[["Id", "Revenda", "Produto", "Data_coleta", "Valor_venda", "Valor_compra"]]
df_precos['Revenda'] = df_precos['Revenda'].str.title()
df_precos['Produto'] = df_precos['Produto'].str.title()
df_precos['Valor_compra'] = df_precos['Valor_compra'].fillna("Valor não informado")
df_precos.to_string()
df_precos.head()

,Id,Revenda,Produto,Data_coleta,Valor_venda,Valor_compra
0,1,Comercio De Combustiveis Nenzita Ltda,Diesel,01/07/2025,"6,69",Valor não informado
1,2,Sepe Tiaraju Empreendimentos Ltda,Diesel,01/07/2025,"6,33",Valor não informado
2,3,Auto Posto Augustu'S Ltda,Diesel,01/07/2025,"6,9",Valor não informado
3,4,Codepel -Comercio De Derivados De Petroleo Ltda,Diesel,01/07/2025,"5,99",Valor não informado
4,5,Bentivi Derivados De Petroleo Ltda,Diesel,01/07/2025,"5,92",Valor não informado